In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement 
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01',)

In [29]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

# Calculate the date one year from the last date in data set.
dt.date(2017, 8, 23) - dt.timedelta(days=365)

# Perform a query to retrieve the date and precipitation scores
query = session.query(Measurement.prcp, Measurement.date).all()
#query

# Save the query results as a Pandas DataFrame. Explicitly set the column names
prcp_df = pd.DataFrame([{"Precipitation Score" : query, "Date" : query}])

# Sort the dataframe by date
prcp_df.sort_values(by = ["Date"])

# Use Pandas Plotting with Matplotlib to plot the data
#prcp_df = pd.DataFrame(date_prcp, columns=['station', 'date', 'prcp', 'tobs'])

,Precipitation Score,Date
0,"[(0.08, 2010-01-01), (0.0, 2010-01-02), (0.0, ...","[(0.08, 2010-01-01), (0.0, 2010-01-02), (0.0, ..."

In [11]:
# Use Pandas to calculate the summary statistics for the precipitation data

# Exploratory Station Analysis

In [12]:
# Design a query to calculate the total number of stations in the dataset

In [13]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [14]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [15]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close Session

In [16]:
# Close Session
session.close()